$window-height:100vh;
$form-bg-color:#38444c;
$footer-notice-color:palevioletred;
$btn-bg-color:#556672;
$btn-color:#fff;
$btn-font-size:16px;
$copyright-font-size:18px;
$flex-container-div:#d1cdcfb0;